@font-face{
    font-family: Futura;
    src: url(fonts/futura-pt-heavy.otf);
}
@font-face{
    font-family: PlayfairDisplay;
    src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face{
    font-family: ProximaNova;
    src: url(fonts/ProximaNova-Regular.otf);
}


html, body{
    background-color: #464f54;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -102px;

    width: 73%;
    float: right;
}

  

.title_input{
    box-sizing: border-box;
    height: 187px;
    width: 100%;
    background-color: #181818;
    padding-top: 47px;
    padding-left: 60px;
    padding-bottom: 50px;
    box-shadow: -3.536px -3.536px 59px 0px rgba(0, 0, 0, 0.16);
}
h6{
    color: #777777;
    font-family: ProximaNova;
    font-size: 15px;
    margin: 0;
}

h2{
    font-family: PlayfairDisplay;
    font-size: 48px;
    color: #fefefe;
    margin: 0;
}

hr{
    background-color: #303030;
    border: none;
    height: 3px;
   
}

.control_bar{
    box-sizing: border-box;
    background-color: #f7bd2c;
    width: 92%;
    padding-left: 35px;
    padding-top: 22px;
    padding-bottom: 22px;
}

img{
    display: block;
    max-width: 100%;
}

article{
    background-color: white;
    width: 88.33%;

    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.22);
    margin-left: auto;
    margin-right: auto;
    margin-top: 149px;
    
}

.content{
    margin-left: 67px;
    border-left: solid;
    border-color: #e8eced;
    border-width: 2px;
    padding-top: 200px;
    padding-left: 56px;
    padding-right: 125px;
    padding-bottom: 35px;
}

h4{
    font-size: 19,84px;
    color: #b4b4b4;
    font-family: ProximaNova;
}

h1{
    font-size: 77.93px;
    color: #2a2a2a;
    font-family: Futura;
}

h3{
    font-size: 30px;
    font-family: "Georgia";
    font-style: italic;
    color: #8f8f8f;
}

p{
    font-size: 41.628px;
    font-family: "Georgia";
    color: black;
    line-height: 1.5;
}
  

  
  