@font-face{
    font-family: Futura;
    src: url(fonts/futura-pt-heavy.otf);
}
@font-face{
    font-family: PlayfairDisplay;
    src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face{
    font-family: ProximaNova;
    src: url(fonts/ProximaNova-Regular.otf);
}

html, body {

    width: -webkit-calc(100% - 0px);

}
html, body{
    background-color: #464f54;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -8.500vw;

    width: 73%;
    float: right;
}

  

.title_input{
    box-sizing: border-box;
    height: 15.583vw;
    width: 100%;
    background-color: #181818;
    padding-top: 3.917vw;
    padding-left: 5vw;
    padding-bottom: 4.167vw;
    box-shadow: -3.536px -3.536px 59px 0px rgba(0, 0, 0, 0.16);
}
h6{
    color: #777777;
    font-family: ProximaNova;
    font-size: 1.250vw;
    margin: 0;
}

h2{
    font-family: PlayfairDisplay;
    font-size: 4vw;
    color: #fefefe;
    margin: 0;
}

hr{
    background-color: #303030;
    border: none;
    height: 3px;
   
}

.control_bar{
    box-sizing: border-box;
    background-color: #f7bd2c;
    width: 92%;
    padding-left: 2.917vw;
    padding-right: 2.917vw;
    padding-top: 1.833vw;
    padding-bottom: 1.833vw;
}

img{
    display: block;
    max-width: 100%;
}

article{
    background-color: white;
    width: 88.33%;

    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.22);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12.417vw;
    
}

.content{
    margin-left: 5.583vw;
    border-left: solid;
    border-color: #e8eced;
    border-width: 2px;
    padding-top: 16.667vw;
    padding-left: 4.667vw;
    padding-right: 10.417vw;
    padding-bottom: 2.917vw;
}

h4{
    font-size: 1.653vw;
    color: #b4b4b4;
    font-family: ProximaNova;
}

h1{
    font-size: 6.494vw;
    color: #2a2a2a;
    font-family: Futura;
}

h3{
    font-size: 2.500vw;
    font-family: "Georgia";
    font-style: italic;
    color: #8f8f8f;
}

p{
    font-size: 3.469vw;
    font-family: "Georgia";
    color: black;
    line-height: 1.5;
}
  